<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>CompilationHelper</title>	
	<link rel="stylesheet" type="text/css" href="style.css">	
	<script src="myAjax.js"></script>
	<script src="graph.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="springy.js"></script>
	<script src="springyui.js"></script>

</head>

<body style="background-color:#474554">
	<div class="topnav">
		<a  href="/">Compile Survey</a>
		<a  href="/create">Create Survey</a>
		<a class="active"  href="/admin">About</a>
	</div>
	<div id="headerDiv" style="height: 10vmin;background-color:#B1BDC5;">
			<center>
				<p style="color: rgb(0, 0, 0) ; font-size: 4vmin; padding-top: 2vmin;">CompilationHelper  - Admin</p>
			</center>
	</div>
	
	<div id="testDiv"  style="height: 15vmin;background-color:#B1BDC5;">
			<center>
				<br>
				<label onclick="loadTest();" class="myButton">TEST</label>
				<div id="testResp">
	
				</div>
			</center>
	</div>
	<br>
	<div id="testDiv"  style="height: 15vmin;background-color:#B1BDC5;">
		<center>
			<br>
			<label onclick="dellSessions();" class="myButton">Delete all session</label>
			<div id="dellSessionResp">

			</div>
		</center>
</div>
</body>
</html>