<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>CompilationHelper</title>	
	<link rel="stylesheet" type="text/css" href="style.css">	
	<script src="myAjax.js"></script>
	<script src="graph.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="springy.js"></script>
	<script src="springyui.js"></script>

</head>

<body style="background-color:#474554">
	<div class="topnav">
		<a  href="/">Compile Survey</a>
		<a  class="active"  href="/create">Create Survey</a>
		<a href="/admin">About</a>
	</div>
	<div id="headerDiv" style="height: 10vmin;background-color:#B1BDC5;">
			<center>
				<p style="color: rgb(0, 0, 0) ; font-size: 4vmin; padding-top: 2vmin;">CompilationHelper - Create</p>
			</center>
	</div>
	<div style="background-color:rgb(44, 38, 85);color: white">
		<center>
			<br><label>Creazione sondaggio</label>
			
		</center>
	</div>
	<div id="graph" style="display: none;color: white;">
		<center>
		<label  id="nodeSelectedInfo"></label>
		</center>
		<canvas id="my_canvas" width="500" height="500" />
	</div>
	

</body>
</html>