<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>CompilationHelper</title>	
	<script src="myAjax.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body style="background-color:#474554">
	<div id="headerDiv" style="height: 10vmin;background-color:#B1BDC5;">
			<center>
				<p style="color: rgb(0, 0, 0) ; font-size: 4vmin; padding-top: 2vmin;">CompilationHelper</p>
			</center>
	</div>
	<div id="workDiv"  style="height: 60vmin;background-color:rgb(44, 38, 85);">
		<center>
			<br>
			<a onclick="loadTest();" class="myButton">TEST</a>
			<br>
			<div id="resp">

			</div>
		</center>
	</div>

</body>
</html>