<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>CompilationHelper</title>	
	<link rel="stylesheet" type="text/css" href="style.css">	
	<script src="myAjax.js"></script>
	<script src="graph.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="springy.js"></script>
	<script src="springyui.js"></script>
	
</head>

<body style="background-color:#474554">
	<div id="headerDiv" style="height: 10vmin;background-color:#B1BDC5;">
			<center>
				<p style="color: rgb(0, 0, 0) ; font-size: 4vmin; padding-top: 2vmin;">CompilationHelper</p>
			</center>
	</div>
	<div style="background-color:rgb(44, 38, 85);color: white">
		<center>
			<br><label>Seleziona tipo di IA:</label>
			<select id="typeInit">
				<option value="LukyNumber">LukyNumber</option>
				<option value="Perizie">Perizie</option>
			</select>
			<a onclick="init();" class="myButton">Pulisci e inizializza</a>
			<br>
			<div id="respInit">

			</div>
			<div id="drawButton" style="display: none">
				<a onclick="drawGraphFromServer();" class="myButton">Disegna il grafo delle domande</a>
			</div>			
		</center>
	</div>
	<div id="graph" style="display: none;color: white;">
		<center>
		<label  id="nodeSelectedInfo"></label>
		</center>
		<canvas id="my_canvas" width="500" height="500" />
	</div>
	<div id="workDiv"   style="height: 60vmin;background-color:rgb(44, 38, 85);">

		<center>
			<br>
			<button disabled id="StartSurveyButton" onclick="startSurvey();" class="myButton">Start Survey</button>
			<br>
			<div id="resp">

			</div>
			<br>
			<div id="answ"  >
				<label>Your answer:</label><input type="text" id="myAns"><button disabled id="SetRespButton"  onclick="setResp();" class="myButton">Reply</button>
			</div>
		</center>
	</div>
	<br>
	<div id="testDiv"  style="height: 15vmin;background-color:#B1BDC5;">
			<center>
				<br>
				<label onclick="loadTest();" class="myButton">TEST</label>
				<div id="testResp">
	
				</div>
			</center>
	</div>

</body>
</html>